@import "./variables.scss";

@import "./button//BaseButton.scss";

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

body {
  margin: 0;
}

body{
  margin:0;
}
h1 {
  font-size: 70px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 16px;
}
