@import "./variables.scss";

@import "./componentStyles/button/BaseButton.scss";

@import "./componentStyles/loader/loader.scss";

@import "./componentStyles/navigation/navigation.scss";

@import "./componentStyles/articlePreview/ArticlePreview.scss";

@import "./ckeditor.scss";

@import "./componentStyles/cookie/cookie.scss";

//custom scrollbar
 ::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: #424242;
}

::-webkit-scrollbar-thumb {
  background: #686868;
  border: 1px solid #424242;
}

::-webkit-scrollbar-thumb:hover {
  background: #7b7b7b;
}




html {
  font-family: DIN2014-Regular, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

body {
  margin: 0;
  background-color: $trit-yellow;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  color: $trit-gray;
}

h1 {
  font-size: 48px;
  line-height: 83.33%;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  font-family: DIN2014-Bold;
}

h2 {
  font-size: 48px;
  line-height: 83.33%;
  font-weight: 800;
  font-style: normal;
}

h3 {
  font-size: 36px;
  line-height: 88.89%;
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  color: $trit-yellow;
  text-transform: uppercase;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.content-container {
  bottom: 0;
  margin: 0 $page-margin;
}

.background-container {
  background-color: $trit-gray;
  padding-bottom: 5em;
}

/* fonts */
.DIN2014-Bold {
  font-family: DIN2014-Bold;
  font-weight: normal;
  font-style: normal;
}
.DIN2014-Regular {
  font-family: DIN2014-Regular;
  font-weight: normal;
  font-style: normal;
}
.DIN2014-Demi {
  font-family: DIN2014-Demi;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  h3, p {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}