@import "@/styles/variables.scss";

.modal-backdrop {
  position: fixed;
  z-index: 101; // nav menu is 100
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background: $trit-white;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;

    .modal-header {
      padding: 0.5em calc(20px + (2 * 0.25em)) 0.5em 1em;
      display: flex;
      position: relative;
      border-bottom: 1px solid $trit-gray;
      color: $trit-black;
      font-weight: bold;
      justify-content: space-between;

      .btn-close-topright {
        position: absolute;
        top: 0.15em;
        right: 0.25em;
        border: none;
        font-size: 20px;
        padding: -10px 5px;
        cursor: pointer;
        font-weight: bold;
        color: $trit-black;
        background: transparent;
      }
    }

    .modal-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      //border-top: 1px solid $trit-gray;
      padding: 1em;
    }

    .modal-body {
      position: relative;
      padding: 2em 1em;
    }
  }
}

.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity .25s ease;
}

.btn-trit {
  color: $trit-black;
  background: $trit-yellow;
  border: 0.15em solid $trit-black;
  border-radius: 2px;
  cursor: pointer;
}