@import "@/styles/variables.scss";

.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 160px - 104.16px - 80px - 1em);
}

.background-container {
  .tribes-links-container {
    min-height: calc(100vh - 160px - 104.16px - 80px - 1em);
    padding-top: 1.5em;
    max-width: 65%;
    margin: auto;

    .tribes-links-flexbox {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 1em;
      column-gap: 1em;

      h3 {
        color: $trit-white;
      }
      .tribe-link {
        color: $trit-white;
        text-decoration: none;
        padding: 20px;
        margin: 10px;
        transition: 500ms;
      }

      .tribe-link:hover {
        color: $trit-yellow;
        text-decoration: underline;
      }
    }
  }
}

/* for the flexbox left-align fix */
.flexbox-fix {
  visibility: hidden;
}
.empty-card {
  height: 1em;
  width: 15em + 2em; /* 2em = 2x1em padding */
}
/* end fix */

@media only screen and (max-width: 480px) {
  .content-container {
    display: flex;
    justify-content: center;
  }
}