@import "@/styles/variables";

.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;    
  min-height: calc(100vh - 160px - 80px);
}
.main-content {
  .background-container {
    min-height: calc(100vh - 160px - 80px);
    color: $trit-white;
    .actions-bar {
      margin: 0 50px 1em 50px;
      height: 3em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .blog-action {
        display: flex;
        align-items: center;
        justify-content: center;
        #like-button:hover{
          cursor: pointer;
        }
      }
      .liked{
        filter: invert(14%) sepia(95%) saturate(7491%) hue-rotate(3deg) brightness(97%) contrast(119%);
      }
      .views {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        filter: invert(100%);
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.5em;
      }
      .stats {
        margin-right: 1em;
      }
    }
    
    .content-container {
      display: flex;
      .article-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .article-title-container {
        display: inline-block;
      }
      
      .article-content {
        width: 70%;
        .border {
          height: 1px;
          background: $trit-white;
          margin-right: 7em;
        }
        .article-text {
          padding-right: 7em;
        }
      }

      .side-bar {
        flex: 1;
        width: 25%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.article-details {
  color: $trit-white;
  background-color: $trit-gray;
  padding-top: 2px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .main-content {
    .background-container {
      .content-container {
        flex-direction: column-reverse;
        .article-content {
          width: 100%;
          .article-text {
            padding: 0;
          }
          .border {
            margin-right: 0;
          }
        }
        .side-bar {
          width: 100%;
          display: flex;
          flex-direction: row;

        }
      }
    }
  }
}