@import "@/styles/variables.scss";
.comments {
  margin-right: 7em;
    
  .comments-title {
    color: $trit-white;
    font-size: 1.5em;
    font-weight: normal;
  }

  form {
    .input-container {
      position: relative;
      width: auto;
      .comment-input{
        border: none;
        background-color: black;
        color: $trit-white;
        font-size: 1em;
        font-family: "DIN 2014";
        min-width: 100%;
        max-width: 100%;
        padding: 1em;
        min-height: 5em;
        max-height: 5em;
      }
      .comment-button {
        color: $trit-gray;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        width: 5em;
        height: 3em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .comments {
    margin-right: 0;
    width: 100%;
    form {
      .input-container {
        .comment-input {
          box-sizing: border-box;
        }
        .comment-button {
          right: 1em;
        }
      }
    }
  }
}

textarea::-webkit-input-placeholder {
  font-family: "DIN 2014";
  font-size: 1em;
  color: $trit-white;
}

textarea:-moz-placeholder { /* Firefox 18- */
  font-family: "DIN 2014";
  color: $trit-white;
  font-size: 1em;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  font-family: "DIN 2014";
  font-size: 1em;
  color: $trit-white;
}

textarea:-ms-input-placeholder {
  font-family: "DIN 2014";
  font-size: 1em;
  color: $trit-white;
}

textarea::placeholder {
  font-family: "DIN 2014";
  font-size: 1em;
  color: white;
}