@import "@/styles/variables.scss";

.main{
    background-color: $trit-black;
    height:100%;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.left-flexbox{
    justify-content: left;
    margin-left: 20%;
    margin-right: 20%;
}
.right-flexbox{
    justify-content: right;
}
.interesting-tribes-container{
    color:white;
    padding-top: 20px;
    border-bottom: 1px solid $trit-yellow;
    display: flex;
    flex-direction: row;
}

.tribe-link{
    color: $trit-yellow;
    padding:20px;
}


.about-container{
    color: $trit-white;
    
}
.about-container h1{
    color:$trit-yellow;
}

.highlighted-articles{
    
}
.highlighted-articles h1{
    color: $trit-yellow
}

.highlighted-rockstars{
    float:right;
    width: 180px;
    height: 100%;
    color: $trit-white;
    
}

.articles-wrapper {
    min-height: calc(100vh - 226.5px);
    .articles-container {
      margin-top: 30px;
      display: grid;
      grid-row-gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(415px, 1fr));
      a {
        margin: 10px;
        justify-self: center;
      }
    }
  }

.highlighted-articles{
    margin: 0;
}