@import "@/styles/variables.scss";

.main {
  background-color: $trit-gray;
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h3 {
    color: $trit-yellow;
  }
  .left-pannel {
    width: 75%;
    .featured-tribes-container {
      .featured-tribes {
        display: flex;
        align-items: center;
        a {
          padding: 0;
        }
        p {
          color: white;
          font-size: 2pc;
        }
        .tribe-item {
          .tribe-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white;
            text-decoration: none;
            img {
              height: 40px;
              margin-right: 20px;
            }
          }
        }
      }

      hr {
        border: 0.5px solid $trit-yellow;
      }
    }
    .about-container {
      color: white;
    }
    .articles-container {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .article {
        margin: 0px;
        justify-self: center;
        margin-bottom: 30px;
      }
    }
  }
  .right-pannel {
    width: 20%;
    .highlighted-rockstars {
      height: 370px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}

.featured-tribes-header {
  width: 30%;
}

.featured-tribes-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;

  .tribe-item {
    display: flex;
    justify-content: center;
    width: 33%;
    height: 100%;
  }

  .tribe-item:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, .2);
  }
}


@media only screen and (max-width: 1000px) {
  .right-pannel {
    display: none;
  }
  .featured-tribes-container {
    display: none;
  }
  .content-container {
    .left-pannel {
      width: 100%;
    }
  }
  .content-container
    .left-pannel
    .featured-tribes-container
    .featured-tribes
    .tribe-item {
    margin-left: 0;
  }
}



@media only screen and (max-width: 480px) {
  .content-container {
    margin: 0;
    width: 100%;
  }
}
