@import "@/styles/variables.scss";

.main {
  background-color: $trit-gray;
  height: 100%;
}
.background-container {
  min-height: calc(100vh - 160px - 5em);
}

.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 160px - 80px);
}
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h3 {
    color: $trit-yellow;
  }

  .left-pannel {
    width: 75%;

    .featured-tribes-container {
      .featured-tribes {
        display: flex;
        align-items: center;
        a {
          padding: 0;
        }
        p {
          color: white;
          font-size: 2pc;
        }

        .tribe-item {
          .tribe-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white;
            text-decoration: none;

            img {
              height: 40px;
              margin-right: 20px;
            }
          }
        }
      }

      hr {
        border: 0.5px solid $trit-yellow;
      }
    }

    .about-container {
      color: white;
    }

    .articles-container {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      .article {
        justify-self: center;
        margin: 0px 0px 30px;
      }
    }
  }
  .right-pannel {
    width: 20%;

      /* width */
    ::-webkit-scrollbar {
      width: 0.4em;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: $trit-yellow;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: $trit-yellow;
    }

    .highlighted-rockstars {
      min-height: 700px;
      height: calc(100vh - 23em );
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      overflow-y: auto;
      overflow-x: hidden;
      border: 1px solid #3e3e3e;
      padding: 5px;
      
      .bottom-spacer {
        margin-bottom: 50px;
      }
    }
  }
}

.featured-tribes-header {
  width: 30%;
}

.featured-tribes-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;

  .tribe-item {
    display: flex;
    justify-content: center;
    width: 33%;
    height: 100%;
  }

  .tribe-item:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, .2);
  }
}

/* for the flexbox left-align fix */
.flexbox-fix {
  visibility: hidden;
}
/* end fix */

@media only screen and (max-width: 1250px) {
  /* To prevent squishing */
  .right-pannel {
    display: none;
  }

  .content-container {
    .left-pannel {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 762px) {
  .featured-tribes-container {
    display: none;
  }

  .content-container {
    margin: 0;
    width: 100%;
  }

  .flexbox-fix {
    display: none; /* The fix is not needed as articles don't need alignment on mobile. */
  }
}
