@import "@/styles/variables.scss";

.main {
  background-color: $trit-gray;
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h3 {
    color: $trit-yellow;
  }
  .left-pannel {
    width: 75%;
    .interesting-tribes-container {
      .interesting-tribes {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        a {
          padding: 0;
        }
        p {
          color: white;
          font-size: 2pc;
        }
        .tribe-item {
          margin-left: 10%;
          .tribe-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white;
            text-decoration: none;
            img {
              height: 40px;
              margin-right: 20px;
            }
          }
        }
      }

      hr {
        width: 100%;
        border: 0.5px solid $trit-yellow;
      }
    }
    .about-container {
      color: white;
    }
    .articles-container {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .article {
        margin: 0px;
        justify-self: center;
        margin-bottom: 30px;
      }
    }
  }
  .right-pannel {
    width: 20%;
    .highlighted-rockstars {
      height: 370px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .right-pannel {
    display: none;
  }
  .interesting-tribes {
    flex-direction: column;
    align-items: center;
  }
  .content-container {
    .left-pannel {
      width: 100%;
    }
  }
  .content-container
    .left-pannel
    .interesting-tribes-container
    .interesting-tribes
    .tribe-item {
    margin-left: 0;
  }
}
