@import "@/styles/variables.scss";

.main{
    background-color: $trit-gray;
    height:100%;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.left-flexbox{
    justify-content: left;
    margin-left: 20%;
    margin-right: 20%;
}
.right-flexbox{
    justify-content: right;
}
.interesting-tribes-container{
    color:white;
    padding-top: 20px;
    border-bottom: 1px solid $trit-yellow;
    display: flex;
    flex-direction: row;
}

.tribe-link{
    color: $trit-yellow;
    padding:20px;
}


.about-container{
    color: $trit-white;
    
}
.about-container h1{
    color:$trit-yellow;
}

.highlighted-articles{
    
}
.highlighted-articles h1{
    color: $trit-yellow
}

.highlighted-rockstars{
    display: flex;
    flex-direction: column;
    gap: 1em;
    right: 0;
    height: 100%;
    color: $trit-white;
    margin-right: 2em;
    margin-top: 2em;
}

.articles-wrapper {
    min-height: calc(100vh - 226.5px);
    .articles-container {
      margin-top: 30px;
      display: grid;
      grid-row-gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(415px, 1fr));
      a {
        margin: 10px;
        justify-self: center;
      }
    }
  }

.highlighted-articles{
    margin: 0;
}

@media only screen and (max-width: 1000px) {
  /* for mobile screens < 1000px */
  .right-flexbox, .interesting-tribes-container {
    display: none;
  }

  .left-flexbox {
    margin: 0;

    h1, p {
      padding-left: 1rem;
    }

    .about-container {
      max-width: 100%;
    }

    .highlighted-articles, .about-container{
      max-width: 100vw;
    }

    .articles-container {
      display: flex;
      flex-direction: column;

      a {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .article-container {
      max-width: 100%;
    }

    .article {
      border: none;
    }

  }
}