@import "@/styles/variables.scss";

.profile-tag-container {
  display: flex;
  flex-flow: column;
  align-items: center;

  .profile-image-container {
    height: 60px;
    width: 60px;
    background-color: $trit-gray;
    border-radius: 50%;
    
    .profile-image {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
  }

  .rockstar {
    color: $trit-gray;
  }
  .rockstar-role {
    color: $trit-gray;
    font-size: 0.7em;
    margin-top: -10px;
  }
  p {
    text-align: center;
  }
}
