@import "@/styles/variables.scss";

.profile-tag-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  max-width: 6em;
  word-break: break-word;

  .profile-image-container {
    height: 60px;
    width: 60px;
    background-color: $trit-gray;
    border-radius: 50%;

    .profile-image {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .rockstar {
    color: $trit-gray;
  }
  .rockstar-role {
    color: $trit-gray;
    font-size: 0.7em;
    margin-top: -10px;
  }
  p {
    text-align: center;
  }
}


@media screen and (max-width: 768px) {
  .profile-tag-container {
    width: auto;
  }

  .details {
    display: none;
  }
}