@import "@/styles/variables.scss";

.search-bar {
  margin-right: 45px;
  display: flex;
  justify-content: right;
  margin-bottom: 30px;
  .search-input {
    outline: none;
    padding: 10px;
    width: 15%;
    border: none;
    background-color: transparent;
    color: $trit-gray;
    border-bottom: 1px solid $trit-gray;
    &::-webkit-input-placeholder {
      color: $trit-gray;
    }
    &::-moz-placeholder {
      color: $trit-gray;
    }
  }
  .custom-select {
    border-bottom: 1px solid #232323;
    display: flex;
    .select {
      border: none;
      background: none;
      &:focus {
        outline: 0;
      }
      .select-item {
        position: absolute;
        background-color: $trit-gray;
        color: $trit-yellow;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
      }
    }
  }
}
.information-page-main {
  p {
    color: $trit-white;
    margin: 0;
  }
  .tribes-overview {
    background-color: $trit-yellow;
    width: auto;
    height: 300px;
    margin: 0%;
    padding: 0%;
    .tribe-title {
      margin: 0;
      padding: 20px;
      padding-left: 40px;
    }
    .profile-container {
      display: flex;
      flex-direction: row;
      justify-content: left;
      margin-left: 20px;
      .profile-tag {
        margin: 20px;
      }
    }
  }
  .content-container {
    min-height: calc(100vh - 417px);
    .articles-overview-title, .podcasts-overview-title {
      text-align: center;
      margin: 0;
      color: $trit-white;
      padding-top: 20px;
    }
    .loader-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }
    .articles-container {
      margin-top: 30px;
      display: grid;
      justify-content: center;
      grid-column: 1rem;
      grid-row-gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(415px, 1fr));
      .article {
        margin: 10px;
        justify-self: center;
      }
    }
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: $trit-gray;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}