@import "@/styles/variables.scss";

.search-bar {
  margin-right: 45px;
  display: flex;
  justify-content: right;
  margin-bottom: 30px;
  .search-input {
    outline: none;
    padding: 10px;
    width: 15%;
    border: none;
    background-color: transparent;
    color: $trit-gray;
    border-bottom: 1px solid $trit-gray;
    &::-webkit-input-placeholder {
      color: $trit-gray;
    }
    &::-moz-placeholder {
      color: $trit-gray;
    }
  }
  .custom-select {
    border-bottom: 1px solid #232323;
    display: flex;
    .select {
      border: none;
      background: none;
      &:focus {
        outline: 0;
      }
      .select-item {
        position: absolute;
        background-color: $trit-gray;
        color: $trit-yellow;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
      }
    }
  }
}

.background-container {
  .content-container {
    min-height: calc(100vh - 160px - 37px - 30px - 5em);
    .articles-container {
      margin-top: 30px;
      display: grid;
      justify-content: center;
      grid-column: 1rem;
      grid-row-gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(415px, 1fr));
      a {
        margin: 10px;
        justify-self: center;
      }
    }
  }
}

.select-item div:hover,
.same-as-selected {
  background-color: white;
}

@media only screen and (max-width: 700px) {
  .search-input {
    width: 60%;
  }
}

.article-error {
  color: $trit-white;
  text-align: center;
}