@import "@/styles/variables.scss";

.rockstar-pane {
  width: 100vw;
  height: 12em;
}

.rockstar-card {
  display: flex; /* flex container */
  flex-direction: row;
  gap: 1em;

  height: 100%;
  width: 50%;
  max-width: fit-content;
  margin: 0 auto 0 auto;
}

.rockstar-card .col-image {
  aspect-ratio: 1/1;
  height: 12em;

  background-color: $trit-white;
}

.rockstar-card .col-information {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: auto;
}

.rockstar-card .col-information .row-name {
  height: 33%;
  font-weight: bold;
  font-size: 2.5em;
}

.rockstar-card .col-information .row-description {
  height: 100%;
}

@media only screen and (max-width: 1000px) { /* for mobile screens <= 1000px width */
  .rockstar-pane {
    height: 24em;
  }
  .rockstar-card {
    width: 100vw;
    max-width: 100vw;
    margin: auto;
    flex-direction: column;
  }

  .rockstar-card .col-information {
    flex: 100%;
  }

  .rockstar-card .col-information .row-name {
    text-align: center;
  }

  .rockstar-card .col-information .row-description {
    margin-left: 1em;
  }

  .rockstar-card .col-image {
    margin: 0 auto 0 auto;
  }
}